@media only screen and (max-width: 640px)
{

    nav{
        display: block;
    }

    #nav_buttons{
        display: none;
        position: absolute;
    }

    #menuToggle{
        display: block;
        position: relative;
    }


    .teste:hover p{
        background-color: rgba(128, 128, 128, 0.526);
        border-radius: 5px;
    }
    
    .teste:hover div{
        border-radius: 5px;
        background-color: aqua;
        z-index: 2;
    }

    li{
        margin: 3px auto;
        padding: 0; 
        font-size: 4vw;
    }
    
    .lista img{
        margin-bottom: 140px;
        max-height: 28vh;
    }

    .paragrafos{
        width: 100%;
        margin: 10px;
        padding: 0;
    }

    .paragrafos p{
        font-size: 18px;
        color: aliceblue;
        font-weight: normal;
    }

    #logo{
        min-width: auto;
        min-height: auto;
        width: 90%;
    }

    footer{
        text-align: center;
    }

    .lista{
        width: 90%;
    }

    .title{
        padding: 15px;
    }

    #prin{
        font-size: 30px;
        margin: 50px 0 100px;
        border-bottom: 2px solid rgb(4, 153, 133);  
        border-radius: 10%;
        width: 80%;
    }

    ul, li{
        padding: 10px;
    }

    .imagens{
        width: 90%;
        margin-top: 50px;
    }

    .imagens img{
        width: 230px;
    }

    footer img{
        display: none;
    }
}
